@import url('https://fonts.googleapis.com/css?family=Montserrat|Questrial');
*{

margin:0vw;
}
#outer{
 top:0;
 width:20%;
 float:left;
 height:30vw;

}

#outer div{
  top:0;
  background-color:white;
  margin-left:40%;


}

#product{
  border-bottom-right-radius: 100%;

  height:15vw;
  width:10%;
}

#product li{

  position:absolute;
  top:-1vw;
  left:0;
}

#graphic{

  border-bottom-right-radius: 50%;

   height:20vw;
   width:10%;
}

#graphic li{

  position:absolute;
  top:-1vw;
  left:20vw;
}

#artwork{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

   height:10vw;
   width:10%;
}

#artwork li{
  position:absolute;
  top:-1vw;
  left:42vw;

}

#about{

  border-bottom-left-radius: 50%;

   height:15vw;
   width:10%;
}

#about li{
  position:absolute;
  top:5vw;
  left:68vw;
}

#contact{
  border-bottom-left-radius: 100%;

   height:28vw;
   width:10%;

}
#contact li{
  position:absolute;
  top:6.5vw;
  left:85vw;
}


div div li{

font-family:Montserrat;
color:white;
font-size:4vw;
text-align:center;
transition:transform .5s
-webkit-transform: rotateZ(270deg); /* Safari */
transform: rotateZ(270deg);

}



body{

background-color:black;
}
